body {
    margin: 0;
    padding: 0;
    position: relative;
}

.board {
    height: 230px;
    width: 230px;
    display: flex;
    flex-wrap: wrap;
}

.board:hover {
    cursor: url('../src/image/workhammer_89178\ \(1\).png'), pointer;
}

.field {
    width: 40px;
    height: 40px; 
    margin-left: 10px;
    background-color: green;
}

.goblin-image {
    width: 40px;
}

.game-over {
    border: 2px solid red;
    position: absolute;
    width: 100px;
    background-color: aqua;
    top: 80px;
    left: 50px;
}
